<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Analyst Site</title>

    <!-- CSS, Bootstrap & Font Awesome Links -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- jQuery CDN -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>
                <span class="glyphicon glyphicon-bullhorn"></span>
            </h1>
            <h2>Movie Analyst</h2>
        </div>

        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Authors</h3>
                </div>
                <div class="panel-body text-center">
                    <h1><span class="glyphicon glyphicon-user"></span></h1>
                </div>
                <div class="panel-footer small">
                    <a href="/authors" class="btn btn-block btn-primary">View Authors</a>
                </div>

            </div>
        </div>  <!-- row end -->

        <div class="col-sm-4">
            <div class="panel">
                <h3 class="panel-title">Our Partners</h3>
            </div>
            <div class="panel-body text-center">
                <h1>
                    <span class="glyphyicon glyphicon-tower"></span>
                </h1>
            </div>
            <div class="panel-footer small">
                <a href="/publications" class="btn btn-block btn-primary">View Publications</a>
            </div>
        </div>  <!-- end row -->
    </div>
    <!-- .container -->
</body>

</html>